# Environment variables
.env
.env*.local

# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# Coverage & testing artifacts
coverage/
.nyc_output/

# OS and Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Local database volumes (if any)
data/